{{!-- 表單 --}}
<form method="post" action="/link" id="shorten-url-form" novalidate>

  <div class="d-grid mt-5">
    <div class="row">
      <div class="col-10 d-grid mx-auto my-2">
        <input type="text" class="form-control bg-secondary bg-opacity-10 border-0 p-2" id="url-input" name="url" placeholder="Input URL here" pattern="^http(s?)://(\S+)" required />
        <div class="invalid-feedback">Please input a valid url</div>
      </div>
    </div>
    <div class="row">
      <div class="d-grid col-5 my-2 mx-auto">
        <button class="btn btn-outline-primary">Shorten</button>
      </div>
    </div>
  </div>

</form>

<script>
  // 表單驗證 (Bootstrap)
  const form = document.querySelector('#shorten-url-form');

  form.addEventListener('submit', (event) => {
    if (!form.checkValidity()) {
      event.preventDefault();
      event.stopPropagation();
    }
    form.classList.add('was-validated');
  });
</script>